/*majority default adjustments to web page*/
html, body {
    height: 100%;
    padding-top: 30px;
    margin: 20px;
	background-color: #006B3C;
	justify-content: center;
}

/*headings and paragraph adjustments*/

h1, h2, h3, h4, p {
    color: #FFA700;
	text-align: justify;

}

ul {
    font-family: 'Rum Raisin', sans-serif;
    color: #FFA700;
    list-style-type: none;
    font-size: 35px;
    display: inline-block;   
    text-decoration: none;
}

/*navigation bar for pages*/

.navbar {
    position: fixed;
    top: 0px;
	left: 0px;
	right: 0px;
    width: 100%;
	
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.navbar {
    border: 4px dotted #000000;
    padding: 0px;
    margin: 15px;
	background-color: #008C00;
	justify-content: space-around;
	width: 100%;
	font-size: 30px;

}

.navbar ul {
    list-style-type: none;
    font-style:italic;
    font-family: 'Rum Raisin', sans-serif;
    
}

.navbar a {
    text-decoration: none;
    color: #FFFF11;
}

.navbar li {
    display: inline-block;
	padding: 0px 15px;
	}

/*Google fonts for text in pages*/

h1 {font-size: 55px;
    font-family:  'Rum Raisin', sans-serif;}
h2 {font-size: 50px;
	text-shadow: 2px 2px #0000ff;
    font-family:  'Rum Raisin', sans-serif;}
h3 {font-size: 45px;
	text-shadow: 2px 2px #0000ff;
    font-family:  'Rum Raisin', sans-serif;}
h4 {font-size: 40px;
    font-family:  'Rum Raisin', sans-serif;
    text-decoration:underline;
}
p {font-size: 35px;
    font-family: 'Rum Raisin', sans-serif;}
	
p {text-align: justify;}
	
/*portion of the page with photos and text*/
	
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    margin: 20px;

}

/*used ID instead of class*/

.end {
    list-style-type: none;
    text-decoration: none;
    color: #FFFF11;
  }

a:link {
	text-decoration: none;
	color: #FFA700;

}

/*picture gallery*/

.gallery {
    margin: 5px;
    border: 1px dashed #FFA700;
    float: left;
    width: 180px;
    height:180px;
 }

.gallery:hover {
    border: 3px dashed #D3D3D3;
}

.gallery img {
    width: 180px;
    height: 180px; 
}

.desc {
    padding: 15px;
    text-align: center;
}

.desc {
    font-size: 20px;
    text-align: left;
    font-family:  'Rum Raisin', sans-serif;
    color: #FFFF11;
}

img {
    width: 600px;
    height: 600px;
}